<!DOCTYPE html>
<html>
<head>
  <title>ConnectED - Success</title>
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/success_failure.css">
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="success-container">
    <h2>Account Created Successfully</h2>
    <p>Your account has been created successfully. You can now login to ConnectED using your credentials.</p>
    <a class="btn" href="/login">Login</a>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
