<!DOCTYPE html>
<html>
<head>
  <title>Terms of Service</title>
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/docs.css">
</head>
<body>
  <%- include("./partials/header.ejs") %>
  <div class="docs-container">
    <div class="pointer">
      <h2>Terms of Service</h2>
      <p>Welcome to ConnectED! Please read these terms carefully before using our services.</p>
    </div>
    <div class="pointer">
      <h3>1. Acceptance of Terms</h3>
      <p>By accessing or using ConnectED, you agree to be bound by these Terms of Service and our Privacy Policy. If you do not agree to these terms, please do not use our services.</p>
    </div>
    <div class="pointer">
      <h3>2. User Responsibilities</h3>
      <p>As a user of ConnectED, you are responsible for maintaining the confidentiality of your account credentials and for any activities that occur under your account. You must provide accurate and up-to-date information and comply with all applicable laws and regulations.</p>
    </div>
    <div class="pointer">
      <h3>3. Intellectual Property</h3>
      <p>All content and materials available on ConnectED, including but not limited to text, graphics, logos, and software, are the property of ConnectED or its licensors and are protected by intellectual property laws.</p>
    </div>
    <div class="pointer">
      <h3>4. Privacy</h3>
      <p>We respect your privacy and handle your personal information in accordance with our Privacy Policy. Please review our Privacy Policy to understand how we collect, use, and disclose your information.</p>
    </div>
    <div class="pointer">
      <h3>5. Limitation of Liability</h3>
      <p>ConnectED shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use of our services.</p>
    </div>
    <a class="button" href="/signup">Back to Sign Up</a>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>
